//
//   This file is part of Visafe for iOS (https://github.com/VisafeTeam/VisafeForiOS).
//   Copyright © Visafe Software Limited. All rights reserved.
//
//   Visafe for iOS is free software: you can redistribute it and/or modify
//   it under the terms of the GNU General Public License as published by
//   the Free Software Foundation, either version 3 of the License, or
//   (at your option) any later version.
//
//   Visafe for iOS is distributed in the hope that it will be useful,
//   but WITHOUT ANY WARRANTY; without even the implied warranty of
//   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//   GNU General Public License for more details.
//
//   You should have received a copy of the GNU General Public License
//   along with Visafe for iOS.  If not, see <http://www.gnu.org/licenses/>.
//

#include "Common-Config.xcconfig"

// Global product settings
AG_PRODUCT = Visafe

// URL scheme for receiving commands in Visafe main app from Safari
Visafe_URL_SCHEME = Visafe

// VPN Tunnel provider bundle identifier
Visafe_TUNNEL_BUNDLE_ID = $(Visafe_BUNDLE_ID).tunnel

#include "project.xcconfig"
#include  "macro-definitions.xcconfig"

PREPROCESSOR_MACRO = $(PREPROCESSOR_MACRO) Visafe_TUNNEL_BUNDLE_ID=\"$(Visafe_TUNNEL_BUNDLE_ID)\" MAIN_APP=1
